<pre id="code" class="my_ace_editor">{{ code }}</pre>
<div id="process_list">
</div>
<div align="right">
    <button type="button" id="backtrace_button" class="btn btn-outline-info">Backtrace</button>
    <button type="button" id="save_button" class="btn btn-danger">Save</button>
    <button type="button" id="preset_button" class="btn btn-danger">Preset</button>
    <button type="button" id="clear_button" class="btn btn-danger">Clear</button>
    <button type="button" id="spawn_button" class="btn btn-danger">Spawn</button>
    <button type="button" id="load_button" class="btn btn-danger">Load</button>
</div>