{% for over in result %}
<tr>
    <td>
        <div class="custom-control custom-checkbox" align="center">
            <input type="checkbox" class="custom-control-input custom-control-input-item" id="{{ over['index'] }}"><label class="custom-control-label" for="{{ over['index'] }}"></label>
        </div>
    </td>
    <td><div>{{ over['method'] }}</div></td>
    <td><div>{{ over['ret'] }}</div></td>
    <td><div>{{ over['args'] }}</div></td>
    <td><button class="btn btn-danger hook">Hook</button></td>
</tr>
{% endfor %}