{% extends "layout.html" %}
{% block title %}
Analyze
{% endblock %}
{% block content %}
<script type='text/javascript'>
    $(function(){
		$(document).ready(function(){
            var socket = io.connect("http://" + document.domain + ":" + location.port + "/analyze")
            var package_name = document.baseURI.substring(document.baseURI.lastIndexOf("/")+1);
            analyze.soFrida_start(socket);
            $(window).on('beforeunload', function(){
                console.log("beforeunload");
                socket.emit("soFrida_stop",{"step":"stop"});
            });
            $("#stop_button").on("click", function(){
                var keys = analyze.get_keys();
                //var package_name = document.baseURI.substring(document.baseURI.lastIndexOf("/")+1);
                socket.emit("soFrida_stop", {"step":"stop", "package_name":package_name, "keys":keys});
            });
            $("#awstest_button").on("click", function(){
                location.href="/awstest/"+package_name;
            });
            socket.on("manual", function(){
                $("#httprequest-text").append(" <a href=\"#\" id=\"httprequest-click\">HttpRequest</a>");
                $("#credentials-text").append(" <a href=\"#\" id=\"basicawscredentials-click\">BasicAWSCredentials</a> <a href=\"#\" id=\"basicsessioncredentials-click\">BasicSessionCredentials</a>");
                $("#httprequest-click").on("click",function(){
                    socket.emit("trace", {"class":"com.amazonaws.http.HttpRequest"});
                });
                $("#basicawscredentials-click").on("click", function(){
                    socket.emit("trace", {"class":"com.amazonaws.auth.BasicAWSCredentials"});
                });
                $("#basicsessioncredentials-click").on("click", function(){
                    socket.emit("trace", {"class":"com.amazonaws.auth.BasicSessionCredentials"});
                });
            });
        });
	});
</script>
<div class="container-fluid" style="font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="#">Dashboard</a>
		</li>
		<li class="breadcrumb-item">
            <a href="{{ url_for('assets_layout') }}">Assets</a>
        </li>
        <li class="breadcrumb-item active">Analyze</li>
    </ol>
    <div class="card mb-3">
        <!-- Card closing and opening animation : https://codepen.io/disjfa/pen/EZdMpe -->
        <div class="card-header">
            <i class="fab fa-usb"></i>
            Frida Connection Check
        </div>
        <div class="card-body">
            <span class="fas fa-fw fa-times" id="frida-connect-icon" style="color:red"></span> <span id="frida-connect-text">Please check frida-server daemon...</span>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-cog"></i>
            APK Install Check
        </div>
        <div class="card-body">
            <span class="fas fa-fw fa-times" id="adb-connect-icon" style="color:red"></span> <span id="adb-connect-text">Please check adb connection..</span><br>
            <span class="fas fa-fw fa-times" id="apk-install-icon" style="color:red"></span> <span id="apk-install-text">Checking APK is Installed..</span><br>
            <span class="fas fa-fw fa-times" id="spawn-icon" style="color:red"></span> <span id="spawn-text">Application is going to spawn..</span><br>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-cloud"></i>
            AWS Services and Region Trace
        </div>
        <div class="card-body">
            <span class="fas fa-fw fa-times" id="httprequest-icon" style="color:red"></span> <span id="httprequest-text">Wainting class "HttpRequest" is loaded..</span><br>
            <span class="fas fa-fw fa-times ml-3" id="service-icon" style="color:red"></span> <span id="service-text">AWS Service is going to be found..</span><br>
            <span class="fas fa-fw fa-times ml-3" id="bucket-icon" style="color:red"></span> <span id="bucket-text">Bucket name is going to be found..</span><br>
            <span class="fas fa-fw fa-times ml-3" id="region-icon" style="color:red"></span> <span id="region-text">Region is going to be found..</span><br>
            
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-cloud"></i>
            AWS Credentials Trace
        </div>
        <div class="card-body">
            <span class="fas fa-fw fa-times" id="credentials-icon" style="color:red"></span> <span id="credentials-text">Wainting class "BasicAWSCredentials" or "BasicSessionCredentials" is loaded..</span><br>
            <span class="fas fa-fw fa-times ml-3" id="accesskeyid-icon" style="color:red"></span> <span id="accesskeyid-text">AccessKeyId is going to be found..</span><br>
            <span class="fas fa-fw fa-times ml-3" id="secretkeyid-icon" style="color:red"></span> <span id="secretkeyid-text">SecretKeyId is going to be found..</span><br>
            <span class="fas fa-fw fa-times ml-3" id="sessiontoken-icon" style="color:red"></span> <span id="sessiontoken-text">SessionToken is going to be found..</span><br>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <button type="button" class="btn btn-secondary" id="stop_button">Stop Trace</button>
            <button type="button" class="btn btn-secondary" id="awstest_button">Vulnerability Check</button>
        </div>
    </div>
</div>
{% endblock %}