{% extends "layout.html" %}
{% block title %}
APK Downloader
{% endblock %}
{% block content %}
<script type='text/javascript'>
    $(function(){
		$(document).ready(function(){
			$("#log").hide();
			$("#search_mode_button").on("click", function(){
				$("#search_mode_button").html($(this).text()+"<span style=\"transform: rotate(180deg);\" class=\"caret\"></span>");
			});
			$(".dropdown-menu a").on("click", function(){
				$("#search_mode_button").html($(this).text()+"<span class=\"caret\"></span>");
			});
			$("#search_form").on('keyup', function(e){
				if(e.keyCode == 13){
					var mode = $("#search_mode_button").text();
					if(mode != "Search Mode"){
						var text = $(this).val();
						search(mode, text);
					}
				}
			});
			$("#check-all").on("change", function(){
				var checked = $(this).prop("checked");
				$(this).parents(".table")
					.first()
					.find("input[type=checkbox]")
					.prop("checked", checked);
				button_change();
			});
		});
		function search(mode, text){
			$("#log").text("Searching with Chorme DevTools...");
			$("#log").show();
			$.ajax({
				url:'/search',
				type:'POST',
				contentType: "application/json; charset=utf-8",
				data:JSON.stringify({"mode":mode, "text":text}),
				success:function(res){
					$("#apk_table tbody").html("");
					result_table(res.list);
				},
				error:function(error){
					console.log(error);
				}
			});
		}
		function button_change(){
			var all = $('.custom-control-input-item');
			$('#download').prop('disabled',function(){
				return all.filter(function(){ return $(this).prop('checked'); }).length === 0;
			});
		}
		function checkbox_change(){
			var all = $('.custom-control-input-item');
			$('#check-all').prop('checked',function(){
				return all.length === all.filter(function(){ return $(this).prop('checked'); }).length;
			});
		}
		function finish_load_table(){
			$('.custom-control-input-item').on('change', function(){
				button_change();
				checkbox_change();
			});
		}
		function result_table(list){
			var source = new EventSource('/stream');
			source.onmessage = function (event) {
				var pkg = JSON.parse(event.data);
				for(var key in pkg){
					if(key == "EXIT"){
						$("#log").text("Loading Complete!!");
						$("#log").append("<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>");
						this.close();
						$.ajax({
							url:'/load_finish',
							type:'GET',
							success:function(res){
								console.log(res)
							}
						});
						finish_load_table();
					}else if(key != "ERROR"){
						if(key == "LOG"){
							$("#log").text(pkg[key]);
						}else{
							info = pkg[key];
							data = "<tr><td><div class=\"custom-control custom-checkbox\" align=\"center\">" +
								"<input type=\"checkbox\" class=\"custom-control-input custom-control-input-item\" id=\""+key+"\">" +
								"<label class=\"custom-control-label\" for=\""+key+"\"></label>" +
								"</div></td><td>"+key+"</td><td>"+info['title']+"</td><td>"+info['popular']+"</td><td>"+info['category']+"</td></tr>";
							$("#apk_table tbody").append(data);
						}				
					}
				}
			};
		}	
	});
</script>
<div class="container-fluid">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="#">Dashboard</a>
		</li>
		<li class="breadcrumb-item active">APK Download</li>
	</ol>
	<div class="card mb-3">
		<div class="card-header">
			<i class="fas fa-table"></i>
			APK Search Table
		</div>
		<div class="card-body">
			<div class="input-group">
				<div class="input-group-btn">
					<button class="btn btn-danger dropdown-toggle" type="button" id="search_mode_button" data-toggle="dropdown" aria-expanded="true">Search Mode<span class="caret"></span></button>
					<div class="dropdown-menu dropdown-menu-left" aria-labelledby="search_mode_button">
						<a class="dropdown-item" href="#">Basic</a>
						<a class="dropdown-item" href="#">PkgID</a>
						<a class="dropdown-item" href="#">DevID</a>
					</div>	
				</div>
				<input type="text" class="form-control" placeholder="Input Search Text" spellcheck="false" id="search_form">
			</div>
			<div id="log" class="alert alert-warning" role="alert" style="margin-top:20px;"></div>
			<div style="margin-top:20px;" class="table-responsive" id="apk_list">
				<table class="table" id="apk_table">
					<thead>
						<th>
							<div class="custom-control custom-checkbox" align="center">
								<input type="checkbox" class="custom-control-input" id="check-all">
								<label class="custom-control-label" for="check-all"></label>
							</div>
						</th>
						</th><th>PKGID</th><th>TITLE</th><th>POPULAR</th><th>CATEGORY</th></thead>
					<tbody></tbody>
				</table>
			</div>
			<nav class="navbar navbar-expand">
				<button class="nav-item btn btn-danger ml-auto mr-0 my-2 my-md-0" id="download" disabled>Download</button>
			</nav>
		</div>
	</div>
</div>
{% endblock %}