{% extends "layout.html" %}
{% block title %}
APK Downloader
{% endblock %}
{% block content %}
<script type='text/javascript'>
    $(function(){
		$(document).ready(function(){
			$("#log").hide();
			var socket = io.connect("http://" + document.domain + ":" + location.port + "/apk_download")
			socket.on("search_result", function(data){
				var package_name = data.package_name;
				var info = data.info;
				body = "<tr><td><div class=\"custom-control custom-checkbox\" align=\"center\">" +
				"<input type=\"checkbox\" class=\"custom-control-input custom-control-input-item\" id=\""+package_name+"\">" +
				"<label class=\"custom-control-label\" for=\""+package_name+"\"></label>" +
				"</div></td><td>"+package_name+"</td><td>"+info.title+"</td><td>"+info.popular+"</td><td>"+info.category+"</td></tr>";
				$("#apk_table tbody").append(body);
			});
			socket.on("log", function(data){
				$("#log").text(data.data);
			});
			socket.on("exit", function(data){
				$("#log").text("Loading Complete!!");
				$("#log").append("<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>");
				socket.emit("stop", {});
				finish_load_table()
			})
			$("#search_mode_button").on("click", function(){
				$("#search_mode_button").html($(this).text()+"<span style=\"transform: rotate(180deg);\" class=\"caret\"></span>");
			});
			$(".dropdown-menu a").on("click", function(){
				$("#search_mode_button").html($(this).text()+"<span class=\"caret\"></span>");
			});
			$("#search_form").on('keyup', function(e){
				if(e.keyCode == 13){
					var mode = $("#search_mode_button").text();
					if(mode != "Search Mode"){
						var text = $(this).val();
						search(mode, text);
					}
				}
			});
			$("#check-all").on("change", function(){
				var checked = $(this).prop("checked");
				$(this).parents(".table")
					.first()
					.find("input[type=checkbox]")
					.prop("checked", checked);
				button_change();
			});
			$("#download").on("click", function(){
				$.ajax({
					url:'/google_login_check',
					type:'GET',
					success:function(res){
						if(res.result == "success"){
							download.download_start();
						}else{
							download.open_google_login();
						}
					}
					
				});
				//var selected = $('.custom-control-input-item').filter(function(){ return $(this).prop('checked');});
				//console.log(selected);
			});
			function login(){
				$("#login_alert").html("<p class=\"text-info\">Wait a seconds for login.</p>");
				$("#login_alert").attr("aria-hidden", false);
				var id = $("#inputID").val();
				var pw = $("#inputPassword").val();
				if(id != "" && pw !=""){
					download.google_login(id, pw);
				}
			}
			$("#login").on('click', function(){
				login();
			});
			$("#inputPassword").on('keyup',function(e){
				if(e.keyCode == 13){
					login();
				}
			});
		
			function search(mode, text){
				$("#log").text("Searching with Chorme DevTools...");
				$("#log").show();
				$("#apk_table tbody").html("");
				socket.emit("search", {"mode":mode, "text":text});
				
			}
			function button_change(){
				var all = $('.custom-control-input-item');
				$('#download').prop('disabled',function(){
					return all.filter(function(){ return $(this).prop('checked'); }).length === 0;
				});
			}
			function checkbox_change(){
				var all = $('.custom-control-input-item');
				$('#check-all').prop('checked',function(){
					return all.length === all.filter(function(){ return $(this).prop('checked'); }).length;
				});
			}
			function finish_load_table(){
				$('.custom-control-input-item').on('change', function(){
					button_change();
					checkbox_change();
				});
			}
		});
	});
</script>
<div class="container-fluid">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="#">Dashboard</a>
		</li>
		<li class="breadcrumb-item active">APK Download</li>
	</ol>
	<div class="card mb-3">
		<div class="card-header">
			<i class="fas fa-table"></i>
			APK Search Table
		</div>
		<div class="card-body">
			<div class="input-group">
				<div class="input-group-btn">
					<button class="btn btn-danger dropdown-toggle" type="button" id="search_mode_button" data-toggle="dropdown" aria-expanded="true">Search Mode<span class="caret"></span></button>
					<div class="dropdown-menu dropdown-menu-left" aria-labelledby="search_mode_button">
						<a class="dropdown-item" href="#">Basic</a>
						<a class="dropdown-item" href="#">PkgID</a>
						<a class="dropdown-item" href="#">DevID</a>
					</div>	
				</div>
				<input type="text" class="form-control rounded-left ml-2" placeholder="Input Search Text" spellcheck="false" id="search_form">
			</div>
			<div id="log" class="alert alert-warning" role="alert" style="margin-top:20px;"></div>
			<div style="margin-top:20px;" class="table-responsive" id="apk_list">
				<table class="table" id="apk_table">
					<thead>
						<th>
							<div class="custom-control custom-checkbox" align="center">
								<input type="checkbox" class="custom-control-input" id="check-all">
								<label class="custom-control-label" for="check-all"></label>
							</div>
						</th>
						</th><th>PKGID</th><th>TITLE</th><th>POPULAR</th><th>CATEGORY</th></thead>
					<tbody></tbody>
				</table>
			</div>
			<nav class="navbar navbar-expand">
				<button class="nav-item btn btn-danger ml-auto mr-0 my-2 my-md-0" id="download" disabled>Download</button>
			</nav>
		</div>
	</div>
</div>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="LoginModalLabel">Google Login</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<div class="form-label-group">
							<input type="text" id="inputID" class="form-control" placeholder="Google ID" required="required" autofocus="autofocus">
							<label for="inputID">ID</label>
						</div>
					</div>
					<div class="form-group">
						<div class="form-label-group">
							<input type="password" id="inputPassword" class="form-control" placeholder="Google Password" required="required">
							<label for="inputPassword">Password</label>
						</div>
					</div>
				</form>
				<label id="login_alert" aria-hidden="true"></label>
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
				<button class="btn btn-primary" type="button" id="login">Login</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}