{% extends "layout.html" %}
{% block title %}
Assets
{% endblock %}
{% block content %}
<script type='text/javascript'>
    $(function(){
		$(document).ready(function(){
			let socket = io.connect("http://" + document.domain + ":" + location.port + "/assets");
			finish_load_table();
			make_search_form();
			$("#check-all").on("change", function(){
				var checked = $(this).prop("checked");
				$(this).parents(".table")
					.first()
					.find("tr[style!=\"display: none;\"]")
					.find("input[type=checkbox]")
					.prop("checked", checked);
					button_change();
			});
			$("#select-remove").on("click", function(){
				var package_list = [];
				$('.custom-control-input-item').filter(function(){
					return $(this).prop('checked');}).each(function(){
						package_list.push($(this).attr('id'));});
				socket.emit("select_remove", {"list":package_list});
			});
			$("tbody tr td button").on("click",  function(){
				var package_name = $(this).attr('id');
				socket.emit("select_remove", {"list":[package_name]});
			});
			socket.on("remove_result", function(data){
				if(data.result){
					var tr = $("#assets_table tbody tr");
					for(var i =0;i<tr.length;i++){
						if(tr[i].children[0].children[0].children[0].attributes.id.value == data.package){
							document.getElementById("assets_table").deleteRow(i+1);	
							break;
						}
					}
				}
			});
			function make_search_form(){
				$("#search_form").on("propertychange change keyup paste input", function(){
					var curVal = $(this).val().toUpperCase();
					var tr = document.getElementsByTagName("tr");
					var result_count = 0;
					for(var i = 1;i<tr.length;i++){
						var td = tr[i].getElementsByTagName("td");
						var found = false;
						for(var j = 0;j<td.length;j++){
							if(td[j]){
								var txtval = td[j].textContent || td[j].innerText;
								if(txtval.toUpperCase().indexOf(curVal) > -1 ){
									found = true;
								}
							}
						}
						if(found){
							tr[i].style.display = "";
							result_count++;
						}else{
							tr[i].style.display = "none";
						}
					}
				});
			}
		});
		function button_change(){
			var all = $('.custom-control-input-item');
			$('#select-remove').prop('disabled',function(){
				return all.filter(function(){ return $(this).prop('checked'); }).length === 0;
			});
		}
		function checkbox_change(){
			var all = $('.custom-control-input-item');
			$('#check-all').prop('checked',function(){
				return all.length === all.filter(function(){ return $(this).prop('checked'); }).length;
			});
		}
		function finish_load_table(){
			$('.custom-control-input-item').on('change', function(){
				button_change();
				checkbox_change();
			});
		}	
	});
</script>
<div class="container-fluid">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="#">Instruction</a>
		</li>
		<li class="breadcrumb-item active">Assets</li>
	</ol>
	<div class="card mb-3">
		<div class="card-header">
			<i class="fas fa-table"></i>
			Assets Table
		</div>
		<div class="card-body">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Input Search Text" spellcheck="false" id="search_form">
			</div>
			<div style="margin-top:20px;" class="table-responsive" id="assets_list">
				<table class="table" id="assets_table">
					<thead>
						<th>
							<div class="custom-control custom-checkbox" align="center">
								<input type="checkbox" class="custom-control-input" id="check-all">
								<label class="custom-control-label" for="check-all"></label>
							</div>
						</th>
						<th>PKGID</th>
						<th>TITLE</th>
						<th>POPULAR</th>
						<th>CATEGORY</th>
						<th>STATUS</th>
						<th>EXIST_SDK</th>
						<th>ANALYZE</th>
					</thead>
					<tbody>
						{% for info in asset_infos %}
						<tr>
							<td>
								<div class="custom-control custom-checkbox" align="center">
									<input type="checkbox" class="custom-control-input custom-control-input-item" id="{{ info['package_name'] }}"><label class="custom-control-label" for="{{ info['package_name'] }}"></label>
								</div>
							</td>
							<td>{{ info['package_name'] }}</td>
							<td>{{ info['title'] }}</td>
							<td>{{ "{:,}".format(info['popular']) }}</td>
							<td>{{ info['category'] }}</td>
							<td>{{ info['status'] }}</td>
							{% if info['exist_sdk'] == 1 %}
							<td>True</td>
							<td><a  class="btn btn-success" href="/analyze/{{ info['package_name'] }}">Analyze</a></td>
							{% elif info['exist_sdk'] == 0 %}
							<td>False</td>
							<td><button class="btn btn-danger" id="{{ info['package_name'] }}">Remove</button></td>
							{% else %}
							<td></td>
							<td></td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<nav class="navbar navbar-expand">
				<button class="nav-item btn btn-danger ml-auto mr-0 my-2 my-md-0" id="select-remove" disabled>Select Remove</button>
			</nav>
		</div>
	</div>
</div>
{% endblock %}