{% extends "layout.html" %}
{% block title %}
SoFridaGUI
{% endblock %}
{% block content %}
<div class="container-fluid">

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Instruction</a>
    </li>
    <li class="breadcrumb-item active">Overview</li>
  </ol>
  <div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-cog"></i>
        What's soFrida?
    </div>
    <div class="card-body">
        <p align="center">
            <img src="static/README_Images/soFrida_Logo.png" width="450">
            <p align="center">Dynamic analysis tool that <b>automates</b> finding cloud-backend and vulnerability from mobile applications.<p>
           <p align="center"> With soFrida, you can analyze and detect Cloud API key misconfigurations automatically via dynamic analysis.<P>
          <p align="center">This tool willl be released on Defcon 27 Demo Labs.<P>
          <p align="center">To see our research, please visit: https://sofrida.github.io<P>
          
          
            <p align="center">
              <a href="LICENSE">
                <img src="https://img.shields.io/badge/license-GPLv3-blue.svg" />
              </a>
              <a href="https://frida.re">
                <img src="https://img.shields.io/badge/Powered%20by-Frida-red" />
              </a>
              <a href="https://github.com/SeleniumHQ/selenium">
                <img src="https://img.shields.io/badge/built%20with-Selenium-yellow.svg" />
              </a>
              <a href="https://www.python.org/">
                <img src="https://img.shields.io/badge/built%20with-Python3-red.svg" />
              </a>
              <a href="https://socket.io">
                <img src="https://img.shields.io/badge/Logging%20with-socketio-orange.svg" />
              </a>
            </p>
          </p>
        <!-- <span id="apk-download">[APK Download] : Download APK Files from Google Play</span><br>
        <img src = 'static/apk_download.png' width = 100%><br>
        <span id="installed-apps">[Installed AppList] : Check installed application on mobile phone (Searching available</span><br>
        <img src = 'static/installed_list.png' width = 100%><br> -->


    </div>
</div>
</div>


<!-- Main Features
- 
<img src = 'static/apk_download.png'>

- "Installed AppList" : Check installed application on mobile phone (Searching available)
<img src = 'static/installed_list.png'>

- "Installed AppList" : Pull APK Files from mobile phone and check cloud SDK
<img src = 'static/pull_from_mobile.png'>

- "Assets" : You can manage downloaded APKs and Select application for analysis. 
You can identify AWS services and authentication keys
<img src = 'static/select_apk_for_analysis.png'>

- "Assests" : Result of analysis
<img src = 'static/analyze.png'>

- "Key Lists" : You can identify all key lists extracted by analysis.
<img src = 'static/key_lists.png'> -->

{% endblock %}
