{% extends "layout.html" %}
{% block title %}
Installed Package List
{% endblock %}
{% block content %}
<script type='text/javascript'>
    $(function(){
		$(document).ready(function(){
			device_connect("installed");			
			$("#check-all").on("change", function(){
				var checked = $(this).prop("checked");
				$(this).parents(".table")
                    .first()
                    .find("tr[style!=\"display: none;\"]")
                    .find("input[type=checkbox]")
					.prop("checked", checked);
                    button_change("installed_card");
			});
			let socket_installed = io.connect("http://" + document.domain + ":" + location.port + "/installed");
            socket_installed.on("pull_res", function(data){
				$($("#installed_table tbody").find("[id=\""+data.name+"\"]").parents("tr").children("td")[3]).text("DOWNLOADED");
            });
            $("#action").on("click", function(){
                var package_list = [];
                $('.custom-control-input-item').filter(function(){
                    return $(this).prop('checked');}).each(function(){
						var p = JSON.parse($(this).data('package').replace(/'/g, "\""));
						package_list.push(p);
					});
					socket_installed.emit("pull", {"list":package_list});
            });
        });
        	
	});
</script>
<div class="container-fluid">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="#">Instruction</a>
		</li>
		<li class="breadcrumb-item active">Installed</li>
	</ol>
	<div class="card mb-3" id="installed_card">
		<div class="card-header">
			Installed Package Table
		</div>
		<div class="card-body" >
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Input Search Text" spellcheck="false" id="search_form">
			</div>
			<div style="margin-top:20px;" class="table-responsive" id="installed_list">
				<table class="table" id="installed_table">
					<thead>
                        <th style="width: 10%">
							<div class="custom-control custom-checkbox" align="center">
								<input type="checkbox" class="custom-control-input" id="installed_check_all">
								<label class="custom-control-label" for="installed_check_all"></label>
							</div>
						</th>
						<th style="width: 30%">PKGNAME</th>
						<th style="width: 40%">PATH</th>
                        <th style="width: 20%">STATUS</th>
					</thead>
					<tbody>
						
					</tbody>
				</table>
			</div>
			<nav class="navbar navbar-expand">
				<button class="nav-item btn btn-danger ml-auto mr-0 my-2 my-md-0" id="action" disabled>Select Pull</button>
			</nav>
		</div>
	</div>
</div>
{% endblock %}