{% extends "layout.html" %}
{% block title %}
Downloaded Package List
{% endblock %}
{% block content %}
<script type='text/javascript'>
    $(function(){
		$(document).ready(function(){
			device_connect("ios_process");
			finish_load_table("ios_process_card");
        });
        	
	});
</script>
<div class="container-fluid">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="#">Instruction</a>
		</li>
		<li class="breadcrumb-item active">Process List</li>
	</ol>
	<div class="card mb-3" id="ios_process_card">
		<div class="card-header">
			Process Table
		</div>
		<div class="card-body">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Input Search Text" spellcheck="false" id="search_form">
			</div>
			<div style="margin-top:20px;" class="table-responsive" id="process_list">
				<table class="table" id="process_table">
					<thead>
                        <th style="width: 10%">
							<div class="custom-control custom-checkbox" align="center">
								<input type="checkbox" class="custom-control-input" id="process_check_all">
								<label class="custom-control-label" for="process_check_all"></label>
							</div>
						</th>
						<th>PID</th>
						<th>PKGNAME</th>
						<th>MEMORY</th>
					</thead>
					<tbody>
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}