<!DOCTYPE html>
<html lang="en" style="font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}{% endblock %}</title>

        <!-- Custom fonts for this template-->
        <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}">

        <!-- Page level plugin CSS-->
        <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css')}}">


        <!-- Custom styles for this template-->
        <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sb-admin.css')}}">
        <!-- Bootstrap core JavaScript-->
        <script type='text/javascript' src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        
        <!-- Core plugin JavaScript-->
        <script type='text/javascript' src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

        <!-- Page level plugin JavaScript-->
        <script type='text/javascript' src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.js') }}"></script>

        <!-- Custom scripts for all pages-->
        <script type='text/javascript' src="{{ url_for('static', filename='js/sb-admin.min.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/download.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/analyze.js') }}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

        <!-- Demo scripts for this page-->
        <script type='text/javascript' src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>
    </head>
    <body id="page-top">

        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

            <a class="navbar-brand mr-1" href="{{ url_for('index') }}">SoFridaGUI</a>
            <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            </button>
        </nav>

        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="sidebar navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">
                    <i class="fas fa-cloud"></i>
                    <span>Introduction</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('apk_download_layout') }}">
                    <i class="fas fa-fw fa-download"></i>
                    <span>APK Download</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('assets_layout') }}">
                    <i class="fas fa-fw fa-inbox"></i>
                    <span>Assets</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('keylist_layout')}}">
                    <i class="fas fa-fw fa-key"></i>
                    <span>Key List</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('installed_layout')}}">
                    <i class="fas fa-mobile-alt"></i>
                    <span>Installed List</span></a>
                </li>
            </ul>
            <div id="content-wrapper">
            <!-- /.container-fluid -->
            {% block content %}
            {% endblock %}
                <!-- Sticky Footer -->
                <footer class="sticky-footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>SoFridaGUI 2019</span>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- /.content-wrapper -->
        </div>
        <!-- /#wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </body>
</html>
