<!DOCTYPE html>
<html lang="en" style="font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}{% endblock %}</title>

        <!-- Custom fonts for this template-->
        <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}">

        <!-- Custom styles for this template-->
        <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sb-admin.css')}}">
        <link class="codestyle" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dracula.css')}}" />
        <!-- Bootstrap core JavaScript-->
        <script type='text/javascript' src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

        <script type='text/javascript' src="{{ url_for('static', filename='js/hook.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/pagination.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/common.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/highlight.pack.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/highlightjs-line-numbers.min.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/rangy-core.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/rangy-textrange.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/rangy-selectionsaverestore.js') }}"></script>    

        <!-- Custom scripts for all pages-->
        <script type='text/javascript' src="{{ url_for('static', filename='js/sb-admin.min.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/download.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/analyze.js') }}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script type='text/javascript'>
            $(function(){
                $(document).ready(function(){
                    $("#current_device").on("click", function(){
                        select_device("installed");
                    });
                });
            });
        </script>
    </head>
    <body id="page-top">

        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

            <a class="navbar-brand mr-1" href="{{ url_for('index') }}">soFrida+</a>
            <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            </button>
            <button class="nav-item btn btn-secondary ml-auto mr-0 my-2 my-md-0" id="current_device" hidden></button>
        </nav>

        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="sidebar navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">
                    <i class="fas fa-cloud"></i>
                    <span>Instruction</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('installed_layout')}}">
                    <i class="fas fa-fw fa-download"></i>
                    <span>Pull - Device</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('apk_download_layout')}}">
                    <i class="fab fa-google-play"></i>
                    <span>Download - Play Store</span></a>
                </li>
                <li class="nav-item dropdown show">
                    <a class="nav-link dropdown-toggle" href="#" id="analysisDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search"></i>
                        <span>Analysis</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="analysisDropdown" x-placement="bottom-start" style="position: absolute; transform: translate3d(5px, 56px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="dropdown-item" href="{{ url_for('assets_layout') }}">Cloud</a>
                        <a class="dropdown-item" href="{{ url_for('downloaded_layout')}}">Manual</a>
                    </div>
                </li>
            </ul>
            <div id="content-wrapper">
            <!-- /.container-fluid -->
            {% block content %}
            {% endblock %}
                <!-- Sticky Footer -->
                <footer class="sticky-footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>soFrida+ 2019</span>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- /.content-wrapper -->
        </div>
        <div class="modal fade" id="devicesModal" tabindex="-1" role="dialog" aria-labelledby="DevicesModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="DevicesModalLabel">Key View</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card mb-3">
                            <table class="table" id="devices">
                                <thead>
                                    <th>DEVICE SERIAL</th>
                                    <th>STATUS</th>
                                    <th>SELECT</th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="processModal" tabindex="-1" role="dialog" aria-labelledby="ProcessModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ProcessModalLabel">Key View</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card mb-3">
                            <table class="table" id="processes">
                                <thead>
                                    <th>PID</th>
                                    <th>NAME</th>
                                    <th>SELECT</th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </body>
</html>
